$main_background: url(http://files.thefluffyheads.com/assets/paper-thefluffyheads.jpg) repeat 0 0 #f7f7e2;
$header_background: url(http://files.thefluffyheads.com/assets/header-background-thefluffyheads.png) repeat 0 0 #f2f2f2;
$body_background: url(http://files.thefluffyheads.com/assets/blue_smoky_background.gif) repeat 0 0 #55c8f3;