$main_background: url(http://files.thefluffyheads.com/assets/paper-thefluffyheads.jpg) repeat 0 0 #f7f7e2;
$header_background: url(http://files.thefluffyheads.com/assets/header-background-thefluffyheads.png) repeat 0 0 #f2f2f2;
$rough_texture: url(http://files.thefluffyheads.com/assets/rough-texture-the-fluffy-heads.png) repeat 0 0;
$header_gutter_background: url(http://files.thefluffyheads.com/assets/header-gutter-the-fluffy-heads.png) repeat 0 0 #55c8f3;
$body_background: url(http://files.thefluffyheads.com/assets/blue_smoky_background.gif) repeat 0 0 #55c8f3;
$images: url(http://files.thefluffyheads.com/assets/fluffy-sprite.png) no-repeat 0 0 transparent;