$main_background: url("http://files.thefluffyheads.com/assets/paper-thefluffyheads.jpg") repeat 0 0 #f7f7e2;
$rough_texture: url("http://files.thefluffyheads.com/assets/rough-texture-the-fluffy-heads.png") repeat 0 0;
$header_background: url("http://files.thefluffyheads.com/assets/header-background-the-fluffy-heads.png") repeat 0 0 #55c8f3;
$images: url("http://files.thefluffyheads.com/assets/sprites/s.png") no-repeat;
$background: url("http://files.thefluffyheads.com/assets/cb.png") repeat 0 0 #ddd;
$article: url("http://files.thefluffyheads.com/assets/article-background.png") repeat 0 0 #fdfdfd;

$footer_avatars: url("http://files.thefluffyheads.com/assets/sprites/fluffy-characters.png") no-repeat 0 0 transparent;