#highlighted {
	width: 100%;


	article.node {
		width: 100%;
		max-width: inherit;
		margin: 0;
		padding-bottom: 3.5em;
	}

	.node-title {
		margin-bottom: 0;
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.user-picture {
		top: -0.3em;
		right: -0.3em;
		padding: 1em 0.3em 1em 0.5em;
		border-width: 3px 4px 4px;

		img{
			width: 3em;
		}
	}

	.sharethis-buttons {
		position: absolute;
		bottom: 0.5em;
		left: 0.8em;
		padding: 0;
	}

	.field-name-body{
		margin: 0.5em 0.8em;


		p {
			padding: 0;
			font-size: 0.95em;
			line-height: 1.6em;
			color: #333;
		}
	}

	.field-name-field-image {
		margin-left: 0.8em;

		img {
			border: 10px solid #f7f7f7;
			@include box-shadow(0, 1px, 3px, #aaa);
		}
	}

	.read-more {
		bottom: 0.5em;
		right: 0.5em;
	}
}