@mixin opaque($value: 1) {
  -ms-opacity: $value;
  opacity: $value;
}

@mixin transition($aspect: all, $duration: 0.3s, $easing: ease-in) {
  @if ($aspect == "none") {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  } @else {
    -webkit-transition: $aspect $duration $easing;
    -moz-transition: $aspect $duration $easing;
    -o-transition: $aspect $duration $easing;
    transition: $aspect $duration $easing;
  }
}

@mixin reset-box-sizing($sizing: border-box) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}

@mixin gradient-background($top: #fafafa, $bottom: #f7f7f7) {
  background: $bottom;
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%);
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%);
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%);
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$top}', endColorstr='#{$bottom}',GradientType=0 );
}

@mixin box-shadow($x : 0, $y : 0, $distance : 0, $color : #fff) {
  -moz-box-shadow: $x $y $distance $color;
  -ms-box-shadow: $x $y $distance $color;
  -webkit-box-shadow: $x $y $distance $color;
  box-shadow: $x $y $distance $color;
}

@mixin inner-shadow($x : 0, $y : 0, $distance : 0, $color : #fff) {
  -moz-box-shadow: inset $x $y $distance $color;
  -ms-box-shadow: inset $x $y $distance $color;
  -webkit-box-shadow: inset $x $y $distance $color;
  box-shadow: inset $x $y $distance $color;
}

@mixin uniform-rounded-corner($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin specific-rounded-corner($upperleft: 0, $upperright: 0, $bottomleft: 0, $bottomright: 0) {
  @if ($upperleft != 0) {
    -webkit-border-top-left-radius: $upperleft;
    -moz-border-radius-topleft: $upperleft;
    border-top-left-radius: $upperleft;
  }

  @if ($upperright != 0) {
    -webkit-border-top-right-radius: $upperright;
    -moz-border-radius-topright: $upperright;
    border-top-right-radius: $upperright;
  }

  @if ($bottomleft != 0) {
    -webkit-border-bottom-left-radius: $bottomleft;
    -moz-border-radius-bottomleft: $bottomleft;
    border-bottom-left-radius: $bottomleft;
  }

  @if ($bottomright != 0) {
    -webkit-border-bottom-right-radius: $bottomright;
    -moz-border-radius-bottomright: $bottomright;
    border-bottom-right-radius: $bottomright;
  }
}