.field-name-field-tags {
	margin: 2em 0 1em;

	a {
		display: inline-block;
		margin-right: 0.3em;
		padding: 0 1em;
		background: rgb(24, 189, 213);
		border-radius: 3px;
		font-size: 0.9em;
		line-height: 1.9;
		color: white;

		&:hover {
			text-shadow: 0 -1px 0 #777;
			background-color: #888;
		}
	}

	.field-label {
		display: block;
		float: left;
		width: 30px;
		height: 34px;
		margin-right: 3em;
		text-indent: 1.8em;
		color: #666;
		font: normal 1em/2.1em "Georgina", sans-serif;
		background: $images -35px -85px;
	}

	.field-item {
		float: left;
		margin-top: 0.2em;
	}
}

article.node {
	position: relative;
	float: left;
	width: 48%;
	height: inherit;
	min-width: 15em;
	max-width: 24em;
	min-height: 26em;
	margin: 1.5em 0;
	padding: 0;

	background-color: #fefefe;
	border:1px solid white;

	border-radius: 5px;
	box-shadow: 0 1px 4px #999;

	&.odd {
		margin-left: 4%;
	}
	header{
		padding: 0.8em 3.8em 0.5em 0.8em;
	}

	.node-title {
		margin-bottom: 0.25em;
		font-size: 1.2em;
		line-height: 1.1em;

		a, a:visited {
			color: #444;
		}
	}

	.user-picture {
		position: absolute;
		top: -0.2em;
		right: -0.15em;
		padding: 0.5em 0.1em 0.5em 0.3em;
		border: 2px solid;
		border-top: none;
		border-right: none;
		@include specific-rounded-corner(0, 5px, 35%, 0);
		box-shadow: 0 1px 3px #494949;
	}
	//random rae
	.user-4 .user-picture {
		background: #ffc8e2;
		border-color: #f5a1d7;
	}
	//techie tony
	.user-5 .user-picture {
		background: #c4e8f1;
		border-color: #92d2db;
	}
	//nerdy nathan
	.user-48 .user-picture {
		background: #c7f8a7;
		border-color: #98df9b;
	}

	.submitted {
		color: #999;
	}

	.field-name-body{
		margin-top: 0.5em;

		p {
			padding: 0 1em;
			font-size: 0.8em;
			line-height: 1.8em;
			color: #444;
		}
	}

	.read-more {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;

		&.teaser {
			top: 0;
			left: 0;
			opacity: 0;
		}
	}

	&.teaser {
		&:hover {
			margin-top: 1em;
			margin-bottom: 2em;
			box-shadow: 0 0.3em 1em #666;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
		}

		.field-name-field-image {
			img {
				position: relative;
			}
		}
	}
}

#page-title {
	margin-bottom: 0.3em;
	color: rgb(61, 61, 61);
	font-size: 2em;
	font-weight: bold;
}

#main-article {
	position: relative;
	padding: 0 0 0.5em;
	margin: 0 0 2em;
	border-bottom: 1px dashed rgb(201, 201, 201);

	.field-name-field-image {
		img {
			margin: 1em 0 0;
			border: 10px solid #f7f7f7;
			@include box-shadow(0, 1px, 3px, #bbb);
		}
	}

	.field-name-body {
		p {
			margin: 1.5em 0 0;
			font-size: 0.95em;
			line-height: 1.8em;
			color: #333;
		}
	}
}