.view-card {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	text-indent: -999em;
	background: black;
	border: none;
	@include transition;
	opacity: 0;

	&:hover {
		border: none;
		box-shadow: none;
	}
}

.field-name-field-gallery {
	img {
		float: left;
		margin: 1em 0.5em 0 0;
	}
}

.field-name-body {
	p {
		margin: 1.5em 0 0;
		font-size: 0.95em;
		line-height: 1.8em;
		color: #333;
	}
}

.field-name-field-tags {
	margin: 2em 0 1em;

	a {
		display: inline-block;
		margin-right: 0.3em;
		padding: 0 1em;
		background: rgb(24, 189, 213);
		border-radius: 3px;
		font-size: 0.9em;
		line-height: 1.9;
		color: white;

		&:hover {
			text-shadow: 0 -1px 0 #777;
			background-color: #888;
		}
	}

	.field-label {
		display: block;
		float: left;
		width: 30px;
		height: 34px;
		margin-right: 3em;
		text-indent: 1.8em;
		color: #666;
		font: normal 1em/2.1em "Georgina", sans-serif;
		background: $images -35px -85px;
	}

	.field-item {
		float: left;
		margin-top: 0.2em;
	}
}

.node-teaser {
	position: relative;
	width: 100%;
	margin: 1em 0;
	padding: 0;
	background-color: white;
	box-shadow: 0 1px 2px #bbb;

	.node-title {
		margin-bottom: 0.25em;
		padding: 0.5em 11px;
		font-size: 18.5px;
		line-height: 1.2em;
		color: #333;

		a, a:visited {
			color: #444;
		}
	}

	.submission {
		position: relative;
		display: block;
		padding: 1em 12px;
		font-size: 11px;
		color: #999;
		background: #f9f9f9;
		border-top: 1px dashed #e4e4e4;
	}

	.date {
		margin-left: 1em;
	}

	.user-picture {
		display: none;
	}

	.summary {
		padding: 0 12px 1em;
		font: normal 12px/1.85 Verdana, sans-serif;
		color: #666;
	}
}

#page-title {
	margin-bottom: 0.3em;
	color: rgb(61, 61, 61);
	font-size: 26px;
	font-weight: bold;
}

#main-article {
	position: relative;
	padding: 0 0 0.5em;
	margin: 0 0 2em;

	li {
		margin: 0.5em 2em;
		font-size: 0.95em;
		list-style: disc;
		color: #444;
	}

	.field-name-field-image {
		img {
			margin: 1em 0 0;
			border: 10px solid #f7f7f7;
			@include box-shadow(0, 1px, 3px, #bbb);
		}
	}
}
