article.node {
	position: relative;
	float: left;
	width: 48%;
	height: inherit;
	min-width: 15em;
	max-width: 24em;
	min-height: 26em;
	margin: 1.5em 0;
	padding: 0;

	background-color: #fefefe;
	border:1px solid white;

	border-radius: 5px;
	box-shadow: 0 1px 5px #888;
	&.odd {
		margin-left: 4%;
	}
	header{
		padding: 0.8em 3.8em 0.5em 0.8em;
	}

	.node-title {
		margin-bottom: 0.25em;
		font-size: 1.2em;
		line-height: 1.1em;

		a, a:visited {
			color: #444;
		}
	}

	.user-picture {
		position: absolute;
		top: -0.3em;
		right: 0.3em;
		padding: 1em 0.2em;
		border: 3px solid;
		@include specific-rounded-corner(0, 0, 35%, 35%);
		box-shadow: 0 1px 3px #494949;
	}
	//random rae
	.user-4 .user-picture {
		background: #ffc8e2;
		border-color: #f4c9f8 #f5a1d7 #f789c6;
	}
	//techie tony
	.user-5 .user-picture {
		background: #c4e8f1;
		border-color: #bdeaf3 #92d2db #5bd0f5;
	}
	//nerdy nathan
	.user-48 .user-picture {
		background: #c7f8a7;
		border-color: #ddf3bd #98df9b #6add6a;
	}

	.submitted {
		color: #999;
	}

	.field-name-body{
		margin-top: 0.5em;

		p {
			padding: 0 1em;
			font-size: 0.8em;
			line-height: 1.8em;
			color: #444;
		}
	}

	.read-more {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;

		&.teaser {
			top: 0;
			left: 0;
			opacity: 0;
		}
	}

	&.teaser {
		&:hover {
			margin-top: 1em;
			margin-bottom: 2em;
			box-shadow: 0 0.5em 1.3em #555;
			-webkit-transition: all 0.2s ease-in;
			-moz-transition: all 0.2s ease-in;
		}

		.field-name-field-image {
			img {
				position: relative;
			}
		}
	}
}

#main-article {
	.field-name-field-image {
		img {
			margin: 1em 0 0;
			border: 10px solid #f7f7f7;
			@include box-shadow(0, 1px, 3px, #bbb);
		}
	}

	.field-name-body {
		p {
			margin: 1.5em 0 0;
			font-size: 0.95em;
			line-height: 1.8em;
			color: #333;
		}
	}
}