.sidebar {
  section.block {
    position: relative;
    margin: 0 0 1em;
    padding: 2em 0 0.5em;
    background: $rough_texture pink;
    @include specific-rounded-corner(0, 0, 10px, 10px);
    @include box-shadow(0, 1px, 3px, #888);
  }
}

#sidebars {
  float: right;
  display: block;
  position: relative;
  top: 4em;
  width: 26%;
  margin-right: 0.1em;

  .block-icon {
    height: 1.8em;
    width: 1.5em;
    display: block;
    float: left;
    margin-right: 0.3em;
    background: $images;
  }

  h2.block-title {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    padding: 0 0.75em;
    line-height: 2;
    background: white;
    font-size: 1.2em;
    @include opaque(0.6);
  }

  div.content {
    margin: 1em 1em 0.5em;
    padding: 0;
    background: #fefefe;
    border-radius: 2px;
  }
}

#our-fluffy-aim {
  p {
    font-size: 0.9em;
    line-height: 1.5;
    color: #444;

    &:first-letter {
      font-family: 'Georgina', Georgia, serif;
      font-size: 1.6em;
      font-weight: bold;
    }
  }

  div.content {
    padding: 0.8em;
    background-color: #ffeaf5;
  }

  .block-icon {
    width: 2.7em;
    background-position: -4em 0;
  }
}

#recent-comments {
  background-color: #ffbaad;

  li {
    margin: 0;
    padding: 0.8em;
  }

  .block-icon {
    background-position: -2.9em -2.6em;
  }
}

#chirping-on-twitter {
  background-color: #72e4cd;

  li {
    position: relative;
    padding: 0;
    margin: 0;
    background: #eafffa;
    border-top: 1px solid white;
    border-bottom: 1px solid #ceeee7;
  }

  .block-icon {
    background-position: 0 -2.6em;
  }

  .twitter_block_user {
    width: 100%;
    padding: 0.5em 0.8em 1em;


    img {
      width: 2em;
      vertical-align: middle;
      @include uniform-rounded-corner;
    }
  }

  .tweet-author {
    font-size: 0.8em;
    color: #67b8a8;
  }

  .tweet-posted {
    font-size: 0.7em;
    line-height: 2.5;
    color: #8FCEBF;
    padding-left: 1em;
  }

  p.tweet {
  padding: 1em 1em 0;
  font-size: 0.8em;
  color: #444;
  line-height: 1.6;

    a {
      color: #1ea081;
    }
  }
}

#fluffy-polls {
  .block-icon {
    background-position: -9.1em -2.6em;
  }

  div.content {
    padding: 0.8em;
  }
}

#fluffy-tag-cloud {
  background-color: #d6d6d6;

  .block-icon {
    background-position: -1.4em -2.6em;
  }

  div.content {
    padding: 0.5em 0 0.5em 0.5em;
    background: #f9f9f9;
  }

  a.tagclouds {
    padding: 0.2em 0.3em;
    line-height: 1.25;

    &:hover {
      color: white !important;
      background: #aaa;
      @include uniform-rounded-corner(3px);
    }

    &.level1, &.level1:visited {
      font-size: 0.9em;
      color: #15e7f0;
    }

    &.level2, &.level2:visited{
      font-size: 0.95em;
      color: #2798b4;
    }

    &.level3, &.level3:visited {
      font-size: 1em;
      color: #03b7e4;
    }

    &.level4, &.level4:visited {
      font-size: 1.1em;
      color: #0892ff;
    }

    &.level5, &.level5:visited {
      font-size: 1.2em;
      color: #006ec5;
    }

    &.level6, &.level6:visited {
      font-size: 1.3em;
      color: #004f8d;
    }
  }
}
