@import "mixins", "constants";

@font-face {
  font-family: 'Georgina';
  src: url('fonts/CreteRound-Regular-webfont.eot');
  src: url('fonts/CreteRound-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/CreteRound-Regular-webfont.woff') format('woff'), url('fonts/CreteRound-Regular-webfont.ttf') format('truetype'), url('fonts/CreteRound-Regular-webfont.svg#CreteRoundRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('fonts/roboto/Roboto-Regular-webfont.eot');
  src: url('fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/roboto/Roboto-Regular-webfont.woff') format('woff'), url('fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'), url('fonts/roboto/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html * {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	text-rendering: optimizeLegibility;
	vertical-align: baseline;
	position: static;
	@include reset-box-sizing;
}

body {
	line-height: 1;
	background: #55d3f3;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgina', Georgia, serif;
}

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3, h4 {
	font-size: 1.25em;
}
h5, h6 {
	font-size: 1em;
}

a {
	text-decoration: none;
	@include transition;
	color: #0fc4bc;

	&:hover {
		color: #fc83b3;
	}
}

strong {
	color: rgb(18, 180, 187);
	font-size: 1.15em;
}

em, strong {
	font-weight: bold;
}

i, q {
	font-style: italic;
	color: #888;
}

.no-filter {
 	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
 	-webkit-filter: grayscale(0%);
}

.grayscale {
   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
   filter: gray;
   -webkit-filter: grayscale(100%);

	&:hover {
		@extend .no-filter;
	}
}

.hidden {
	display: none;
}

.arrow {
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: 25px;
	right: -40px;
	line-height: 0;
	vertical-align: middle;
	font-size: 30px;
	border: 22px dashed transparent;
	border-left: 25px solid #fefefe;
}

.sharethis-buttons {
	float: right;
	padding-left: 2em;
	height: 2em;
	line-height: 2em;
}

.sharethis-wrapper {
	background: #fefefe;
}

.read-more {
	width: 25%;
	max-width: 7em;
	padding: 0.2em 0;
	color: white;
	text-align: center;
	text-shadow: 0 0 2px rgb(0, 127, 167);
	@include gradient-background(#61bee2, #3bb2dd);
	border: 1px solid rgb(33, 173, 192);
	border-radius: 3px;
	box-shadow: 0 0 2px rgb(190, 190, 190);

	@include transition(none);

	&:hover {
		color: white;
		background: rgb(71, 182, 224);
		box-shadow: inset 0 1px 2px rgb(22, 169, 216);
	}
}

#admin-toolbar * {
	@include reset-box-sizing(content-box);
}

#header {
	background: $header_background;
	position: fixed;
	z-index: 20;
	left: 0;
	top: 0;
	width: 100%;
	font-family: 'RobotoRegular', Arial, sans-serif;
	@include box-shadow(0, 1px, 3px, #b5b5b5);

	min-width: 850px;

	.wrapper {
		margin: 0 auto;
		max-width: 1320px;
	}
}

#header-shadow {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 3.8em;
	@include box-shadow(0, 1px, 20px, #888);
	@include uniform-rounded-corner(30%);
	z-index: 4;
	color: transparent;
}

#logo {
	display: block;
	float: left;
	margin: 0;
	@include transition(margin-left, 0.1s, ease-in);

	&:hover {
		margin-left: 0.2em;
	}

	h1 {
		display: block;
		height: 65px;
		width: 400px;
		text-indent: -9999px;
		background: $images -170px 2px;
	}
}

#container {
	position: relative;
	margin: 2em auto 425px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'RobotoRegular', Arial, sans-serif;
	background: $background;
	box-shadow: 0 0.2em 0.5em #7a7a7a;
	z-index: 1;

	min-width: 850px;
}

#wrapper {
	position: relative;
	max-width: 1320px;
	margin: 0 auto;
}

#site-name-slogan {
	display: none;
}

#block-search-form {
	position: relative;
	float: right;
	margin: 0.8em 0 0 0;

	input[type='text'] {
		width: 23.4em;
		height: 2.5em;
		padding: 0.5em 1em;
		border: 1px solid;
		border-color: #aaa #ddd #eee;
		border-radius: 3px;
		line-height: 1.6em;
		font-size: 0.9em;
	}

	input[type='submit'] {
		background: $images;
		background-position: -5px -83px;
		position: absolute;
		top: 0;
		right: 0;
		width: 2em;
		height: 100%;
		text-indent: 999em;
		opacity: 0.3;
		cursor: pointer;
	}
}

#navigation {
	float: left;
	width: 13%;
	max-width: 10em;
	min-width: 8em;
}

#nav-spanner{
	opacity: 0;
}

#main-menu {
	position: fixed;
	top: 5em;
	width: 110px;
	margin: 0 0 0 1em;
	padding: 0 0 1em 0;

	.block-title {
		display: none;
		visibility: hidden;
	}

	.menu {
		margin: 1em 0 0;

		.leaf {
			position: relative;
			display: block;
			margin: 0;
			padding: 0;
			height: 6em;
			list-style: none;
			background: $rough_texture #fefefe;
			border: 1px solid #ccc;
			border-top: 1px solid #fefefe;
			@include opaque(0.7);
			@extend .grayscale;

			&:hover, &.active-trail {
				@include opaque(1);
			}

			&.active-trail {
				@extend .no-filter;
				background: #fefefe;
				box-shadow: 0 1px 3px rgba(66, 66, 66, 0.08);
				z-index: 10;
			}

			a {
				position: absolute;
				display: block;
				height: 100%;
				width: 100%;
				margin: 0 auto;
				background: $images -467px -55px;
				font: 0.8em/1em "Georgina", serif;
				color: #bcc22a;
				text-align: center;
				line-height: 150px;
				white-space: nowrap;
			}
		}

		.leaf.techie-tony {
			a {
				background-position: -265px -54px;
				color: #8bbbd1;
			}
		}

		.leaf.nerdy-nathan {
			a {
				background-position: -368px -54px;
				color: #92d192;
			}
		}

		.leaf.random-rae {
			a {
				background-position: -160px -58px;
				color: #e6a0be;
			}
		}
	}
}

#main {
	position: relative;
	float: left;
	margin: 0;
	width: 60%;
	min-width: 38em;
	padding: 4em 1em 1em;
	background: rgba(0, 0, 0, 0.03);
	border: 1px solid #d8d8d8;

	&.article-page {
		background: #fefefe;
		padding: 4em 2em;
	}

	.submitted {
		font-size: 0.8em;
		line-height: 2.2em;
		width: 40em;
	}

	.user-picture {
		float: left;

		img {
			width: 2.1em;
			margin-right: 0.25em;
		}
	}

	.field-name-field-image {
		clear: both;

		img {
			width: 100%;
			max-width: 580px;
		}
	}

	.item-list {
		clear: both;
	}

	.pager {
		padding: 1em 0 2em;

		li {
			position: relative;
			float: left;
		  display: block;
		  margin: 0 0.1em;
		  padding: 0;
		  border-width: 1px;
		  border-style: solid;
		  outline: 0;
		  cursor: pointer;
		  @include gradient-background(#f9f9f9, #eaeaea);
		  @include uniform-rounded-corner(5px);
		  @include inner-shadow(0, 1px, 0, white);
		  border-color: #aaa #aaa #888;

		  &:hover {
				@include gradient-background(#e2e2e2, #e9e9e9);
		  }
		}

		a, .pager-current {
		  position: relative;
		  display: block;
		  width: 100%;
		  height: 2.5em;
		  margin: 0;
		  padding: 0 0.8em;
		  line-height: 2.5em;
		  color: #555;
		  text-decoration: none;
		  word-wrap: normal;
		  white-space: nowrap;
		  font-size: 0.8em;
		  font-weight: normal;
		  vertical-align: middle;
		  text-shadow: 0 1px 0 white;
		}

		.pager-item a, .pager-current {
			padding: 0;
			width: 2em;
		}

		.pager-current {
			cursor: default;
			float: left;
			margin: 0 0.2em;
			width: 2.5em;
			height: 2.65em;
			@include inner-shadow(0, 1px, 0, #bbb);
			@include gradient-background(#c4c4c4, #dfdfdf);

			&:hover {
				@include gradient-background(#c4c4c4, #dfdfdf);
			  @include inner-shadow(0, 1px, 0, #bbb);
			}
		}

		.pager-ellipsis {
			@include opaque(0);
		}
	}
}

@import 'taxonomy', 'node', 'highlighted', 'slimbox', 'sidebars';

#footer {
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	max-width: 1150px;
	height: 420px;
	width: 100%;

	.content {
		p {
			font: normal 1em/1.5 'Georgina', serif;
			width: 100%;
			max-width: 500px;
			color: #333;

			&:first-letter {
				font-size: 1.5em;
			}
		}
	}
}

#footer-art {
	position: absolute;
	bottom: 18px;

	a, a:visited {
		display: block;
		position: absolute;
		background: $footer_avatars;
		text-indent: -999em;
	}

	.about-us {
		height: 290px;
		width: 225px;
		top: -100px;
		left: 720px;
		@include transition(all, 0.4s, ease-out);

		&:hover {
			left: 730px;
		}
	}

	.site-map {
		height: 110px;
		width: 115px;
		top: 70px;
		left: 165px;
		background-position: -245px -179px;
		@include transition(all, 0.1s, ease-out);

		&:hover {
			top: 66px;
		}
	}

	.write-to-us {
		height: 150px;
		width: 130px;
		top: -30px;
		left: 460px;
		background-position: -229px 0;
		@include transition(all, 0.2s, ease-out);

		&:hover {
			top: -20px;
			left: 470px;
		}
	}
}

#cc-license {
	position: fixed;
	width: 100%;
	height: 22px;
	bottom: 0;
	left: 0;
	padding: 0;
	font: normal 0.7em/22px "Roboto",sans-serif;
	text-align: center;
	color: #bbb;
	background: #464646;
	z-index: 0;

	img {
		margin-right: 0.5em;
		vertical-align: -3px;
	}
}

.clear { clear: both; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.clearfix:after {
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

.button {
  display: inline-block;
  line-height: 2.8em;
  height: 2.78em;
  text-decoration: none;
  padding: 0 .91em;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  font-weight: bold;
  font-size: 0.8em;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  cursor: pointer;
  @include gradient-background;
  @include uniform-rounded-corner(2px);
  @include inner-shadow(0, 1px, 0, white);
  color: #555;
  text-shadow: 0 1px 0 white;
  border-color: #ccc #ccc #aaa;
}