@import "fonts", "mixins", "constants";

html * {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	text-rendering: optimizeLegibility;
	vertical-align: baseline;
	position: static;
	@include reset-box-sizing;
}

body {
	line-height: 1;
	background: #55d3f3;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'CreteRoundRegular', serif;
}

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3, h4 {
	font-size: 1.25em;
}
h5, h6 {
	font-size: 1em;
}

a {
	text-decoration: none;
	@include transition;
	color: #13bbb4;

	&:hover {
		color: #f76ca3;
	}
}

strong {
	color: #0c9fb3;
	font-size: 1.1em;
}

em, strong {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
}

i, q {
	color: #787878;
	font-style: italic;
	font-family: Georgia, serif;
	font-size: 1.05em;
}

.clear {
	display: block;
	clear: both;
}

.clearfix {
	display: inline-block;
	min-height: 1%;
}

.clearfix:after {
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

.no-filter {
 	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
 	-webkit-filter: grayscale(0%);
}

.grayscale {
   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
   filter: gray;
   -webkit-filter: grayscale(100%);

	&:hover {
		@extend .no-filter;
	}
}

.hidden {
	display: none;
}

.arrow {
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: 25px;
	right: -40px;
	line-height: 0;
	vertical-align: middle;
	font-size: 30px;
	border: 22px dashed transparent;
	border-left: 25px solid #fefefe;
}

.button {
  display: inline-block;
  line-height: 2.8em;
  height: 2.78em;
  text-decoration: none;
  padding: 0 .91em;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  font-weight: bold;
  font-size: 0.8em;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  cursor: pointer;
  @include gradient-background;
  @include uniform-rounded-corner(2px);
  @include inner-shadow(0, 1px, 0, white);
  color: #555;
  text-shadow: 0 1px 0 white;
  border-color: #ccc #ccc #aaa;
}

.sharethis-buttons {
	float: right;
	padding-left: 2em;
	height: 2em;
	line-height: 2em;
}

.sharethis-wrapper {
	background: #fefefe;
}

.node-column {
	float: left;
	width: 300px;
	margin-right: 20px;

	&.last {
		margin-right: 0;
	}
}

#admin-toolbar * {
	@include reset-box-sizing(content-box);
}

#header {
	background: $header_background;
	position: fixed;
	z-index: 20;
	left: 0;
	top: 0;
	width: 100%;
	font-family: 'MuseoSans500', Arial, sans-serif;
	@include box-shadow(0, 1px, 3px, #b5b5b5);

	min-width: 850px;

	.wrapper {
		margin: 0 auto;
		padding: 0 1em;
		max-width: 1360px;
	}
}

#header-shadow {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 3.8em;
	@include box-shadow(0, 1px, 20px, #888);
	@include uniform-rounded-corner(30%);
	z-index: 4;
	color: transparent;
}

#logo {
	display: block;
	float: left;
	margin: 0;
	@include transition(margin-left, 0.1s, ease-in);

	&:hover {
		margin-left: 0.2em;
	}

	h1 {
		display: block;
		height: 65px;
		width: 99px;
		text-indent: -9999px;
		background: $images 0 -122px;
	}
}

#container {
	position: relative;
	margin: 2em auto 470px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'MuseoSans500', Arial, sans-serif;
	background: $background;
	box-shadow: 0 0.2em 0.5em #7a7a7a;
	z-index: 1;

	min-width: 850px;
}

#wrapper {
	position: relative;
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;
	padding: 1em;
}

#site-name-slogan {
	display: none;
}

#navigation {
	margin: 0 0 0 3em;

	.leaf {
		float: left;
		display: block;
		height: 60px;
		margin: 2px 0 0;
		padding: 0;
		font-size: 16px;
		line-height: 60px;
		background: $images;

		a {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			padding: 0 1em 0 3.7em;
			font-family: 'CreteRoundRegular', serif;
			text-shadow: 0 1px 0 white;
		}

		&.nerdy-nathan {
			background-position: -116px -115px;

			a {
				color: #7fd33d;
			}
		}

		&.techie-tony {
			background-position: -120px -173px;

			a {
				padding-left: 3.2em;
				color: #21cece;
			}
		}

		&.random-rae {
			background-position: -115px -57px;

			a {
				color: #f76ca3;
			}
		}
	}
}

#main {
	position: relative;
	float: left;
	margin: 0;
	width: auto;
	padding: 2em 0 1em;

	&.article-page {
		background: #fefefe;
		padding: 4em 2em;
	}

	.submitted {
		font-size: 0.8em;
		line-height: 2.2em;
		width: 40em;
	}

	.field-name-field-image {
		clear: both;

		img {
			width: 100%;
			max-width: 620px;
		}
	}

	.item-list {
		clear: both;
	}

	.pager {
		padding: 1em 0 2em;

		li {
			position: relative;
			float: left;
		  display: block;
		  margin: 0 0.1em;
		  padding: 0;
		  border-width: 1px;
		  border-style: solid;
		  outline: 0;
		  cursor: pointer;
		  @include gradient-background(#f9f9f9, #eaeaea);
		  @include uniform-rounded-corner(5px);
		  @include inner-shadow(0, 1px, 0, white);
		  border-color: #aaa #aaa #888;

		  &:hover {
				@include gradient-background(#e2e2e2, #e9e9e9);
		  }
		}

		a, .pager-current {
		  position: relative;
		  display: block;
		  width: 100%;
		  height: 2.5em;
		  margin: 0;
		  padding: 0 0.8em;
		  line-height: 2.5em;
		  color: #555;
		  text-decoration: none;
		  word-wrap: normal;
		  white-space: nowrap;
		  font-size: 0.8em;
		  font-weight: normal;
		  vertical-align: middle;
		  text-shadow: 0 1px 0 white;
		}

		.pager-item a, .pager-current {
			padding: 0;
			width: 2em;
		}

		.pager-current {
			cursor: default;
			float: left;
			margin: 0 0.2em;
			width: 2.5em;
			height: 2.65em;
			@include inner-shadow(0, 1px, 0, #bbb);
			@include gradient-background(#c4c4c4, #dfdfdf);

			&:hover {
				@include gradient-background(#c4c4c4, #dfdfdf);
			  @include inner-shadow(0, 1px, 0, #bbb);
			}
		}

		.pager-ellipsis {
			@include opaque(0);
		}
	}
}

@import 'taxonomy', 'node', 'highlighted', 'slimbox', 'sidebars', 'search';

#footer {
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	max-width: 1150px;
	height: 420px;
	width: 100%;

	p {
		font: normal 1em/1.5 'CreteRoundRegular', serif;
		width: 100%;
		max-width: 500px;
		color: #333;

		&:first-letter {
			font-size: 1.5em;
		}
	}
}

#footer-art {
	position: absolute;
	bottom: 18px;

	a, a:visited {
		display: block;
		position: absolute;
		background: $footer_avatars;
		text-indent: -999em;
	}

	.about-us {
		height: 290px;
		width: 225px;
		top: -100px;
		left: 720px;
		@include transition(all, 0.4s, ease-out);

		&:hover {
			left: 730px;
		}
	}

	.site-map {
		height: 110px;
		width: 115px;
		top: 70px;
		left: 165px;
		background-position: -245px -179px;
		@include transition(all, 0.1s, ease-out);

		&:hover {
			top: 66px;
		}
	}

	.write-to-us {
		height: 150px;
		width: 130px;
		top: -30px;
		left: 460px;
		background-position: -229px 0;
		@include transition(all, 0.2s, ease-out);

		&:hover {
			top: -20px;
			left: 470px;
		}
	}
}

#cc-license {
	position: fixed;
	width: 100%;
	height: 22px;
	bottom: 0;
	left: 0;
	padding: 0;
	font: normal 0.7em/22px "Roboto",sans-serif;
	text-align: center;
	color: #bbb;
	background: #464646;
	z-index: 0;

	img {
		margin-right: 0.5em;
		vertical-align: -3px;
	}
}
