@font-face {
  font-family: 'Georgina';
  src: url("fonts/CreteRound-Regular-webfont.eot");
  src: url("fonts/CreteRound-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CreteRound-Regular-webfont.woff") format("woff"), url("fonts/CreteRound-Regular-webfont.ttf") format("truetype"), url("fonts/CreteRound-Regular-webfont.svg#CreteRoundRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RobotoRegular';
  src: url("fonts/roboto/Roboto-Regular-webfont.eot");
  src: url("fonts/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/Roboto-Regular-webfont.woff") format("woff"), url("fonts/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("fonts/roboto/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
  position: static;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  line-height: 1;
  background: url(http://files.thefluffyheads.com/assets/blue_smoky_background.gif) repeat 0 0 #55c8f3;
  background-attachment: fixed; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgina', Georgia, serif; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3, h4 {
  font-size: 1.25em; }

h5, h6 {
  font-size: 1em; }

a {
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }

.hidden {
  display: none; }

#admin-toolbar * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

#container {
  position: relative;
  font-family: 'RobotoRegular', Arial, sans-serif;
  margin: 2em auto 0;
  max-width: 1280px;
  overflow-x: hidden;
  overflow-y: hidden; }

#header {
  background: url(http://files.thefluffyheads.com/assets/header-background-thefluffyheads.png) repeat 0 0 #f2f2f2;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  -moz-box-shadow: 0 1px 5px #a5a5a5;
  -ms-box-shadow: 0 1px 5px #a5a5a5;
  -webkit-box-shadow: 0 1px 5px #a5a5a5;
  box-shadow: 0 1px 5px #a5a5a5; }
  #header .wrapper {
    margin: 0 auto;
    max-width: 1280px; }

#header_gutter {
  position: fixed;
  top: 2em;
  left: 0;
  width: 100%;
  height: 4.5em;
  background: url(http://files.thefluffyheads.com/assets/header-gutter-the-fluffy-heads.png) repeat 0 0 #55c8f3;
  z-index: 0; }

#header-shadow {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.6em;
  -moz-box-shadow: 0 1px 20px #888888;
  -ms-box-shadow: 0 1px 20px #888888;
  -webkit-box-shadow: 0 1px 20px #888888;
  box-shadow: 0 1px 20px #888888;
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  border-radius: 30%;
  z-index: 4;
  color: transparent; }

#logo {
  display: block;
  float: left;
  margin: 0.3em 1em 0; }

#site-name-slogan {
  display: none; }

#block-search-form {
  position: relative;
  float: right;
  margin: 0.8em 0 0 0; }
  #block-search-form input[type='text'] {
    width: 21em;
    height: 2em;
    padding: 0 1em;
    border: 1px solid;
    border-color: #aaa #ddd #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 1.4em; }
  #block-search-form input[type='submit'] {
    background: url(http://files.thefluffyheads.com/assets/fluffy-sprite.png) no-repeat 0 0 transparent;
    background-position: -7.2em -3.4em;
    position: absolute;
    top: 0;
    right: 0.5em;
    height: 100%;
    width: 2em;
    text-indent: 999em;
    opacity: 0.3;
    cursor: pointer; }

#navigation {
  float: left;
  width: 13%;
  max-width: 10em;
  min-width: 8em; }

#nav-spanner {
  opacity: 0; }

#main-menu {
  position: absolute;
  top: 3em;
  left: 0;
  width: 12%;
  min-width: 8em;
  padding: 0 0 1em 0; }
  #main-menu .block-title {
    display: none;
    visibility: hidden; }
  #main-menu .menu .leaf {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    height: 6em;
    list-style: none; }
    #main-menu .menu .leaf a {
      position: relative;
      display: block;
      height: 5em;
      margin: 0;
      padding: 5.8em 1em 0;
      background: url(http://files.thefluffyheads.com/assets/fluffy-sprite.png) no-repeat 0 0 transparent;
      background-position: 4em -2em;
      font: 0.7em/1em "Georgina", Georgia, serif;
      text-align: center; }

#main {
  position: relative;
  float: left;
  width: 60%;
  min-width: 38em;
  padding: 4em 1em 1em;
  background: url(http://files.thefluffyheads.com/assets/rough-texture-the-fluffy-heads.png) repeat 0 0 #8acee4;
  border: 1px solid #79b9be;
  border-radius: 10px; }
  #main.article-page {
    background: url(http://files.thefluffyheads.com/assets/paper-thefluffyheads.jpg) repeat 0 0 #f7f7e2;
    -moz-box-shadow: 0 3px 10px #999999;
    -ms-box-shadow: 0 3px 10px #999999;
    -webkit-box-shadow: 0 3px 10px #999999;
    box-shadow: 0 3px 10px #999999; }
  #main .submitted {
    font-size: 0.8em;
    line-height: 2.2em; }
  #main .user-picture {
    float: left; }
    #main .user-picture img {
      width: 2.1em;
      margin-right: 0.25em; }
  #main .field-name-field-image {
    clear: both; }
    #main .field-name-field-image img {
      width: 100%;
      max-width: 580px; }
  #main .item-list {
    clear: both; }
  #main .pager {
    padding: 1em 0 2em; }
    #main .pager li {
      position: relative;
      float: left;
      display: block;
      margin: 0 0.1em;
      padding: 0;
      border-width: 1px;
      border-style: solid;
      outline: 0;
      cursor: pointer;
      background: #eaeaea;
      background: -moz-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #eaeaea));
      background: -webkit-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%);
      background: -o-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%);
      background: -ms-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%);
      background: linear-gradient(to bottom, #f9f9f9 0%, #eaeaea 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#eaeaea',GradientType=0 );
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -moz-box-shadow: inset 0 1px 0 white;
      -ms-box-shadow: inset 0 1px 0 white;
      -webkit-box-shadow: inset 0 1px 0 white;
      box-shadow: inset 0 1px 0 white;
      border-color: #aaa #aaa #888; }
      #main .pager li:hover {
        background: #e9e9e9;
        background: -moz-linear-gradient(top, #e2e2e2 0%, #e9e9e9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e2e2), color-stop(100%, #e9e9e9));
        background: -webkit-linear-gradient(top, #e2e2e2 0%, #e9e9e9 100%);
        background: -o-linear-gradient(top, #e2e2e2 0%, #e9e9e9 100%);
        background: -ms-linear-gradient(top, #e2e2e2 0%, #e9e9e9 100%);
        background: linear-gradient(to bottom, #e2e2e2 0%, #e9e9e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#e9e9e9',GradientType=0 ); }
    #main .pager a, #main .pager .pager-current {
      position: relative;
      display: block;
      width: 100%;
      height: 2.5em;
      margin: 0;
      padding: 0 0.8em;
      line-height: 2.5em;
      color: #555;
      text-decoration: none;
      word-wrap: normal;
      white-space: nowrap;
      font-size: 0.8em;
      font-weight: normal;
      vertical-align: middle;
      text-shadow: 0 1px 0 white; }
    #main .pager .pager-item a, #main .pager .pager-current {
      padding: 0;
      width: 2em; }
    #main .pager .pager-current {
      cursor: default;
      float: left;
      margin: 0 0.2em;
      width: 2.5em;
      height: 2.65em;
      -moz-box-shadow: inset 0 1px 0 #bbbbbb;
      -ms-box-shadow: inset 0 1px 0 #bbbbbb;
      -webkit-box-shadow: inset 0 1px 0 #bbbbbb;
      box-shadow: inset 0 1px 0 #bbbbbb;
      background: #dfdfdf;
      background: -moz-linear-gradient(top, #c4c4c4 0%, #dfdfdf 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c4c4c4), color-stop(100%, #dfdfdf));
      background: -webkit-linear-gradient(top, #c4c4c4 0%, #dfdfdf 100%);
      background: -o-linear-gradient(top, #c4c4c4 0%, #dfdfdf 100%);
      background: -ms-linear-gradient(top, #c4c4c4 0%, #dfdfdf 100%);
      background: linear-gradient(to bottom, #c4c4c4 0%, #dfdfdf 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4c4c4', endColorstr='#dfdfdf',GradientType=0 ); }
      #main .pager .pager-current:hover {
        background: #dfdfdf;
        background: -moz-linear-gradient(top, #c4c4c4 0%, #dfdfdf 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c4c4c4), color-stop(100%, #dfdfdf));
        background: -webkit-linear-gradient(top, #c4c4c4 0%, #dfdfdf 100%);
        background: -o-linear-gradient(top, #c4c4c4 0%, #dfdfdf 100%);
        background: -ms-linear-gradient(top, #c4c4c4 0%, #dfdfdf 100%);
        background: linear-gradient(to bottom, #c4c4c4 0%, #dfdfdf 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4c4c4', endColorstr='#dfdfdf',GradientType=0 );
        -moz-box-shadow: inset 0 1px 0 #bbbbbb;
        -ms-box-shadow: inset 0 1px 0 #bbbbbb;
        -webkit-box-shadow: inset 0 1px 0 #bbbbbb;
        box-shadow: inset 0 1px 0 #bbbbbb; }
    #main .pager .pager-ellipsis {
      opacity: 0; }

article.node {
  position: relative;
  float: left;
  width: 48%;
  height: inherit;
  min-width: 15em;
  max-width: 24em;
  min-height: 26em;
  margin: 1.5em 0;
  padding: 0;
  background-color: #fefefe;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 1px 5px #888; }
  article.node.odd {
    margin-left: 4%; }
  article.node header {
    padding: 0.8em 3.8em 0.5em 0.8em; }
  article.node .node-title {
    margin-bottom: 0.25em;
    font-size: 1.2em;
    line-height: 1.1em; }
    article.node .node-title a, article.node .node-title a:visited {
      color: #444; }
  article.node .user-picture {
    position: absolute;
    top: -0.3em;
    right: 0.3em;
    padding: 1em 0.2em;
    border-style: solid;
    border-width: 2px 3px 3px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 35%;
    -webkit-border-bottom-left-radius: 35%;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 35%;
    -moz-border-radius-bottomleft: 35%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 35%;
    border-bottom-left-radius: 35%;
    box-shadow: 0 1px 3px #494949; }
  article.node .user-4 .user-picture {
    background: #ffc8e2;
    border-color: #f4c9f8 #f5a1d7 #f789c6; }
  article.node .user-5 .user-picture {
    background: #c4e8f1;
    border-color: #bdeaf3 #92d2db #5bd0f5; }
  article.node .user-48 .user-picture {
    background: #c7f8a7;
    border-color: #ddf3bd #98df9b #6add6a; }
  article.node .submitted {
    color: #999; }
  article.node .field-name-body {
    margin-top: 0.5em; }
    article.node .field-name-body p {
      padding: 0 1em;
      font-size: 0.8em;
      line-height: 1.8em;
      color: #444; }
  article.node .read-more {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0; }
    article.node .read-more.teaser {
      top: 0;
      left: 0;
      opacity: 0; }
  article.node.teaser:hover {
    margin-top: 1em;
    margin-bottom: 2em;
    box-shadow: 0 0.5em 1.3em #555;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in; }
  article.node.teaser .field-name-field-image img {
    position: relative; }

#main-article .field-name-field-image img {
  margin: 1em 0 0;
  border: 10px solid #f7f7f7;
  -moz-box-shadow: 0 1px 3px #bbbbbb;
  -ms-box-shadow: 0 1px 3px #bbbbbb;
  -webkit-box-shadow: 0 1px 3px #bbbbbb;
  box-shadow: 0 1px 3px #bbbbbb; }
#main-article .field-name-body p {
  margin: 1.5em 0 0;
  font-size: 0.95em;
  line-height: 1.8em;
  color: #333; }

#highlighted {
  width: 100%; }
  #highlighted article.node {
    width: 100%;
    max-width: inherit;
    margin: 0;
    padding-bottom: 2.5em; }
  #highlighted .node-title {
    font-size: 1.5em;
    line-height: 1.5em; }
  #highlighted .user-picture {
    padding: 1.5em 0.3em;
    border-width: 3px 4px 4px; }
    #highlighted .user-picture img {
      width: 3em; }
  #highlighted .field-name-body {
    margin: 0.5em 0.8em; }
    #highlighted .field-name-body p {
      padding: 0;
      font-size: 0.95em;
      line-height: 1.6em;
      color: #333; }
  #highlighted .field-name-field-image {
    margin-left: 0.8em; }
    #highlighted .field-name-field-image img {
      border: 10px solid #f7f7f7;
      -moz-box-shadow: 0 1px 3px #aaaaaa;
      -ms-box-shadow: 0 1px 3px #aaaaaa;
      -webkit-box-shadow: 0 1px 3px #aaaaaa;
      box-shadow: 0 1px 3px #aaaaaa; }
  #highlighted .read-more {
    bottom: 0.5em;
    right: 0.5em;
    width: 25%;
    max-width: 7em;
    padding: 0.2em 0;
    color: white;
    text-align: center;
    text-shadow: 0 -1px 0 #10b0e2;
    background: #61bee2;
    background: -moz-linear-gradient(top, #6edef4 0%, #61bee2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6edef4), color-stop(100%, #61bee2));
    background: -webkit-linear-gradient(top, #6edef4 0%, #61bee2 100%);
    background: -o-linear-gradient(top, #6edef4 0%, #61bee2 100%);
    background: -ms-linear-gradient(top, #6edef4 0%, #61bee2 100%);
    background: linear-gradient(to bottom, #6edef4 0%, #61bee2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6edef4', endColorstr='#61bee2',GradientType=0 );
    border: 1px solid;
    border-color: #87f5f0 #34c4d8 #0b9daa;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px #fefefe;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
    #highlighted .read-more:hover {
      background: #61bee2;
      box-shadow: none; }

#lbOverlay {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  cursor: pointer; }

#lbCenter, #lbBottomContainer {
  position: absolute;
  z-index: 9999;
  overflow: hidden;
  background-color: white; }

.lbLoading {
  background: white url(slimbox/loading.gif) no-repeat center; }

#lbImage {
  position: absolute;
  left: 0;
  top: 0;
  border: 10px solid #fff;
  background-repeat: no-repeat; }

#lbPrevLink, #lbNextLink {
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  outline: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: all 0 ease-in;
  transition: none; }

#lbPrevLink {
  left: 0; }

#lbPrevLink:hover {
  background: transparent url(slimbox/prevlabel.gif) no-repeat 0 15%; }

#lbNextLink {
  right: 0; }

#lbNextLink:hover {
  background: transparent url(slimbox/nextlabel.gif) no-repeat 100% 15%; }

#lbBottom {
  font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
  font-size: 10px;
  color: #666;
  line-height: 1.4em;
  text-align: left;
  border: 10px solid #fff;
  border-top-style: none; }

#lbCloseLink {
  display: block;
  float: right;
  width: 66px;
  height: 22px;
  background: transparent url(slimbox/closelabel.gif) no-repeat center;
  margin: 5px 0;
  outline: none; }

#lbCaption, #lbNumber {
  margin-right: 71px; }

#lbCaption {
  font-weight: bold; }

.sidebar section.block {
  position: relative;
  margin: 0 0 1em;
  padding: 2em 0 0.5em;
  background: url(http://files.thefluffyheads.com/assets/rough-texture-the-fluffy-heads.png) repeat 0 0 pink;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-box-shadow: 0 1px 3px #888888;
  -ms-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: 0 1px 3px #888888;
  box-shadow: 0 1px 3px #888888; }

#sidebars {
  float: right;
  display: block;
  position: relative;
  top: 4em;
  width: 26%;
  margin-right: 0.1em; }
  #sidebars .block-icon {
    height: 1.8em;
    width: 1.5em;
    display: block;
    float: left;
    margin-right: 0.3em;
    background: url(http://files.thefluffyheads.com/assets/fluffy-sprite.png) no-repeat 0 0 transparent; }
  #sidebars h2.block-title {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    padding: 0 0.75em;
    line-height: 2;
    background: white;
    font-size: 1.2em;
    opacity: 0.6; }
  #sidebars div.content {
    margin: 1em 1em 0.5em;
    padding: 0;
    background: #fefefe;
    border-radius: 2px; }

#our-fluffy-aim p {
  font-size: 0.9em;
  line-height: 1.5;
  color: #444; }
  #our-fluffy-aim p:first-letter {
    font-family: 'Georgina', Georgia, serif;
    font-size: 1.6em;
    font-weight: bold; }
#our-fluffy-aim div.content {
  padding: 0.8em;
  background-color: #ffeaf5; }
#our-fluffy-aim .block-icon {
  width: 2.7em;
  background-position: -4em 0; }

#recent-comments {
  background-color: #ffbaad; }
  #recent-comments li {
    margin: 0;
    padding: 0.8em; }
  #recent-comments .block-icon {
    background-position: -2.9em -2.6em; }

#chirping-on-twitter {
  background-color: #72e4cd; }
  #chirping-on-twitter li {
    position: relative;
    padding: 0;
    margin: 0;
    background: #eafffa;
    border-top: 1px solid white;
    border-bottom: 1px solid #ceeee7; }
  #chirping-on-twitter .block-icon {
    background-position: 0 -2.6em; }
  #chirping-on-twitter .twitter_block_user {
    width: 100%;
    padding: 0.5em 0.8em 1em; }
    #chirping-on-twitter .twitter_block_user img {
      width: 2em;
      vertical-align: middle;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
  #chirping-on-twitter .tweet-author {
    font-size: 0.8em;
    color: #67b8a8; }
  #chirping-on-twitter .tweet-posted {
    font-size: 0.7em;
    line-height: 2.5;
    color: #8FCEBF;
    padding-left: 1em; }
  #chirping-on-twitter p.tweet {
    padding: 1em 1em 0;
    font-size: 0.8em;
    color: #444;
    line-height: 1.6; }
    #chirping-on-twitter p.tweet a {
      color: #1ea081; }

#fluffy-polls .block-icon {
  background-position: -9.1em -2.6em; }
#fluffy-polls div.content {
  padding: 0.8em; }

#fluffy-tag-cloud {
  background-color: #d6d6d6; }
  #fluffy-tag-cloud .block-icon {
    background-position: -1.4em -2.6em; }
  #fluffy-tag-cloud div.content {
    padding: 0.5em 0 0.5em 0.5em;
    background: #f9f9f9; }
  #fluffy-tag-cloud a.tagclouds {
    padding: 0.2em 0.3em;
    line-height: 1.25; }
    #fluffy-tag-cloud a.tagclouds:hover {
      color: white !important;
      background: #aaa;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
    #fluffy-tag-cloud a.tagclouds.level1, #fluffy-tag-cloud a.tagclouds.level1:visited {
      font-size: 0.9em;
      color: #15e7f0; }
    #fluffy-tag-cloud a.tagclouds.level2, #fluffy-tag-cloud a.tagclouds.level2:visited {
      font-size: 0.95em;
      color: #2798b4; }
    #fluffy-tag-cloud a.tagclouds.level3, #fluffy-tag-cloud a.tagclouds.level3:visited {
      font-size: 1em;
      color: #03b7e4; }
    #fluffy-tag-cloud a.tagclouds.level4, #fluffy-tag-cloud a.tagclouds.level4:visited {
      font-size: 1.1em;
      color: #0892ff; }
    #fluffy-tag-cloud a.tagclouds.level5, #fluffy-tag-cloud a.tagclouds.level5:visited {
      font-size: 1.2em;
      color: #006ec5; }
    #fluffy-tag-cloud a.tagclouds.level6, #fluffy-tag-cloud a.tagclouds.level6:visited {
      font-size: 1.3em;
      color: #004f8d; }

#footer {
  clear: both; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.clearfix:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.button {
  display: inline-block;
  line-height: 2.8em;
  height: 2.78em;
  text-decoration: none;
  padding: 0 .91em;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  font-weight: bold;
  font-size: 0.8em;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  cursor: pointer;
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #fafafa 0%, #f7f7f7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #f7f7f7));
  background: -webkit-linear-gradient(top, #fafafa 0%, #f7f7f7 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #f7f7f7 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #f7f7f7 100%);
  background: linear-gradient(to bottom, #fafafa 0%, #f7f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f7f7f7',GradientType=0 );
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0 1px 0 white;
  -ms-box-shadow: inset 0 1px 0 white;
  -webkit-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
  color: #555;
  text-shadow: 0 1px 0 white;
  border-color: #ccc #ccc #aaa; }
